/* Global button styling */
.custom-button {
    background: transparent;
    display: inline-block;
    cursor: pointer;
    width: 180px;
    height: 90px;
    position: relative;
    transition: transform 0.2s ease; 
    background-image: url('img/svg/roedsky.svg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    padding-bottom: 10px;
    text-align: center;
    @include flex-center;
    text-decoration: none;
    border: none;


    &:hover {
        transform: scale(1.1);
    }

    span {
        color: rgb(255, 255, 255);
        font-weight: 800;
        font-size: 16px;
        position: relative;
        z-index: 1; 
        display: block; 
        padding-top: 25px;
    }
}


.helsky-knap {
    background: transparent;
    cursor: pointer;
    width: 180px;
    height: 137px;
    position: relative;
    transition: transform 0.2s ease; 
    background-image: url('img/svg/helskyknap.svg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    padding-bottom: 10px;
    text-align: center;
    @include flex-center;
    text-decoration: none;
    border: none;
    color: white;
    font-weight: 800;



    &:hover {
        transform: scale(1.1);
    }

}


.kategori-knap {
    background: transparent;
    cursor: pointer;
    width: 180px;
    height: 137px;
    position: absolute;
    transition: transform 0.2s ease; 
    background-image: url('img/svg/roedsky-kat.svg');
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    padding-bottom: 10px;
    text-align: center;
    @include flex-center;
    text-decoration: none;
    border: none;
    color: white;
    font-weight: 800;
    padding-top: 25px;



    &:hover {
        transform: scale(1.1);
    }

}
