@import 'partials/fonts';
@import 'partials/colors';
@import 'partials/mixin';
@import 'partials/buttons';

html {
    box-sizing: border-box;
}


body {
    font-family: $raleway;
    background: $baggrund;
    color: white;
}

header {
    @include flex-center;
    width: 100vw;

    img {
        padding: 15px 0;
    }
}

.intro-section {
    @include flex-center;
    flex-direction: column;

    .intro-container {
        display: flex;
        padding-top: 50px;
        gap: 100px;

        .text-content {
            width: 40vw;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;

            .red-word {
                color: $roed;
                position: relative; 
            }
            
            .underline-svg {
                position: absolute;
                left: 0; /* Juster om nødvendigt */
                right: 0; /* Juster om nødvendigt */
                bottom: -35px; /* Juster afstanden under teksten */
                width: 100%; /* Sikrer, at bredden passer med "red-word" elementet */
                height: auto; /* Holder SVG skalerbar */
                display: block;
            }

            h1 {
                line-height: 60px;
            }

     

            p {
                line-height: 38px;
                width: 80%;
                margin-top: 0;
            }
        }

        img {
            width: 40%;
        }
    }
}


// Mobil styling forside //
@media only screen and (max-width: 1010px) {
    .intro-section {
        margin: 0 100px;
        .intro-container {
            flex-direction: column;
            align-items: center;
            gap: 15px;
            width: 100vw;
            padding-top: 0;

            .text-content {
                width: 100%;
                text-align: center;
                align-items: center;

                h1 {
                    padding: 0 10px;
                }
            }

            img {
                padding-bottom: 30px;
            }

        }
    }

    header {
        a {
            @include flex-center

           
        }

        img {
            width: 70%;
        }
    }
      
}
